Write a Python Program to implement your own myreduce() function which works exactly like pythons own inbuilt function reduce().

# myreduce()

Summation of natural numbers

In [1]:
def myreduce(num):
    sum=0
    for i in range(0,num+1):
        sum=sum+i
    return sum

num = int(input("Enter the first n natural numbers "))

total_sum=myreduce(num)
print(total_sum)

Enter the first n natural numbers 10
55

# Inbuilt reduce()

In [2]:
from functools import reduce
#l=[0,1,2,3,4,5,6,7,8,9,10]
total_sum=reduce(lambda x,y:x+y,range(11))
print(total_sum)

55

Write a Python Program to implement your own myreduce() function which works exactly like pythons own inbuilt function filter().

# myfilter()

Filter out the odd numbers

In [8]:
def myfilter(lst1):
    lst2=[]
    for i in lst1:
        if i%2==0:
            continue
        else:
            lst2.append(i)
    return lst2

lst_odd=myfilter([23,12,78,67,37,13,45,70])
lst_odd

[23, 67, 37, 13, 45]

# Inbuilt filter()

In [13]:
lst2=[23,12,78,67,37,13,45,70]
lst_odd = list(filter(lambda x:x%2!=0,lst2))
lst_odd

[23, 67, 37, 13, 45]

Implement List comprehensions to produce the following lists.

Write List comprehensions to produce the following Lists

['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 

[[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [14]:
word1='ACADGILD'
lst1=[x for x in word1]
lst1

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [15]:
word2='xyz'
lst2=[i*j for i in word2 for j in range(1,5)]
lst2

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [16]:
word3='xyz'
lst3=[i*j for i in range(1,5) for j in word3]
lst3

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [17]:
num=[2,3,4]
lst4=[[i+j] for i in num for j in range(0,3)]
lst4

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [18]:
num=[2,3,4,5]
lst5=[[i+j for i in num] for j in range(0,4)]
lst5

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [19]:
num=[1,2,3]
lst6=[(b,a) for a in num for b in num]
lst6

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]